<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="usuario">
      <h2 data-cy="usuarioDetailsHeading"><span jhiTranslate="algaWorksApp.usuario.detail.title">Usuario</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ usuario.id }}</span>
        </dd>
        <dt><span jhiTranslate="algaWorksApp.usuario.nome">Nome</span></dt>
        <dd>
          <span>{{ usuario.nome }}</span>
        </dd>
        <dt><span jhiTranslate="algaWorksApp.usuario.email">Email</span></dt>
        <dd>
          <span>{{ usuario.email }}</span>
        </dd>
        <dt><span jhiTranslate="algaWorksApp.usuario.senha">Senha</span></dt>
        <dd>
          <span>{{ usuario.senha }}</span>
        </dd>
        <dt><span jhiTranslate="algaWorksApp.usuario.permicao">Permicao</span></dt>
        <dd>
          <div *ngIf="usuario.permicao">
            <a [routerLink]="['/permicao', usuario.permicao.id, 'view']">{{ usuario.permicao.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/usuario', usuario.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
